
#logo
{
  background-color: rgb(3, 15, 48);
  font-size: 30px;
  
}
.navbar
{
  
  background-color: rgb(95, 121, 207);
 
  font-size: 25px;
  font-family: 'Mandali', sans-serif;
  height: 50px;
}


.navbar ul
{
  display: flex;
 
  
}
.navbar li{
  list-style: none;
  
}
.navbar li:hover
{
  background-color:  #6c6d6c;
}
.navbar a{
  text-decoration: none;
  padding-left: 20px;
 
  color: #EFE2BA;
}




.navmenu
{
  display: none;
  position: absolute;
  top:0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  
}
.navmenu span
{
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;

}
@media (max-width:480px),
(min-width:481px) and (max-width:768px)
{
  .navmenu
  {
    display: flex;
  }
  /* .navbar
  {
    align-items: start;
  } */
  .navbar ul
  {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    background-color: rgb(58, 47, 218);
  }
  .navbar ul.open
  {
    display: flex;
    
  }
  .navbar ul li
  {
    width: 100%;
    text-align: center;
   
  }
  .navbar ul li a
  {
    margin: 0.2rem 0.5rem;

  }

}
@media (min-width: 720px){

.navbar h3
{
  display: none;
}
}