
.homebox img
{
    width: 190px;
    height: 250px;
    padding: 5px;
    @media (max-width:480px),
    (min-width:481px) and (max-width:768px)
  {
    width: 200px;
    height: 250px;
  }
 
  
    
}
.homebox
{
    font-family: 'Mandali', sans-serif;
    text-align: center;

    padding: 10px;
    gap: 40px;
    display: flex;

  @media (max-width:480px),
  (min-width:481px) and (max-width:768px)
  {
   flex-wrap: wrap;
  }  
}

.homecontainer
{
    padding: 10px;
   
}
/* .first
{
    background-color: rgb(182, 221, 182);
    border:  2px solid rgb(138, 123, 204);
}
.second
{
    background-color: rgb(223, 204, 223);
    border:  2px solid rgb(218, 119, 149);
}
.third
{
    background-color: rgb(221, 188, 188);
    border:  2px solid rgb(0, 225, 255);
} */
@media (max-width:480px),
  (min-width:481px) and (max-width:768px)
  {

   .leftcontainer
    {
        display: none;
    }
  }  
  