.vinthalucontainar
{
   
    padding: 10px;
}
.vinthalu 
{
    background-color: rgb(255, 174, 127);
    text-align: center;
    font-family: 'Mandali', sans-serif;
    font-size: 22px;
    
}
.vinthalusection
{
    padding: 5px;
    background-color: rgb(159, 188, 214);
    margin: 4px;
   
    
}